{% extends 'admins/base_template.html'%} {% load static %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Новый товар</h1>
            <form action="{% url 'admins:admin_products_create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <table width="100%" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>Название</td>
                                <td>{{form.name}}</td>
                            </tr>
                            <tr>
                                <td>Изображение</td>
                                <td>{{form.image}}</td>
                            </tr>
                            <tr>
                                <td>Описание</td>
                                <td>{{form.description}}</td>
                            </tr>
                            <tr>
                                <td>Категория</td>
                                <td>{{form.category}}</td>
                            </tr>
                            <tr>
                                <td>Цена</td>
                                <td>{{form.price}}</td>
                            </tr>
                            <tr>
                                <td>Количество</td>
                                <td>{{form.quantity}}</td>
                            </tr>
                        </tbody>
                    </table>
                <div class="form-row">
                    <div class="col-lg-12" style="margin-top: 33px;">
                        <input class="btn btn-info btn-block" type="submit" value="Сохранить">
                    </div>
                </div>
            </form>
        </div>
    </main>
{%endblock%}